{
    "clientId": "YOUR_SALESFORCE_CONSUMER_KEY",
    "username": "aws_integration_user@replace.with.instance.domain",
    "loginUrl": "REPLACE_WITH_INSTANCE_URL",
    "privateKey": "REPLACE_WITH_YOUR_PRIVATE_KEY"
}